<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blesample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!--<uses-permission android:name="android.permission.BLUETOOTH"/>-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>-->

    <!--인터넷 접속 권한-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--위치 서비스 권한-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--ACCESS_FINE_LOCATION권한을 선언하는 앱은 이 권한이 암시적으로 부여됨-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <!--외부 저장소 쓰기 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--외부 저장소 쓰기 권한. WRITE_EXTERNAL_STORAGE권한을 선언하는 앱은 이 권한이 암시적으로 부여됨-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->

    <!--블루투스 연결 권한-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <!--블루투스 검색 및 페어링 권한-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!--시스템이 부팅을 마치면 앱이 브로드 캐스팅을 할수 있도록 함-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!--절전 모드 또는 화면이 어두워지지 않도록함-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--잠금화면 해제 권한-->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!--기기 상태에 대한 읽기 전용 권한-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--SDK21 부터 사용되지 않음-->
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!--Google Cloud Messaging에서 메시지를 수신 할 수있는 권한-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--바이브레이터 액세스 권한-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--Dialer 유저 인터페이스를 거치지 않고 전화 걸기 가능-->
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->

    <!--Google지도 사용-->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!--알림 윈도우 권한-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--와이파이 연결 확인 권한-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--네트워크 연결 확인 권한-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--로그 읽어오기 권한-->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!--SMS 수신 권한-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

</manifest>